<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 vh-100 bg-white">
            <sidebar-dashboard></sidebar-dashboard>
        </div>
        <div class="col-md-10 px-0">
            <nav class="bg-white p-1 mb-4 d-flex justify-content-between">
                <div></div>
                <ul class="nav">
                    <li 
                        class="nav-item dropdown"
                    >
                        <a 
                            class="nav-link text-muted dropdown-toggle" 
                            href="#" 
                            id="navbarDropdown" 
                            role="button" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false"
                        >
                            usuario 1
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Configuración</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a 
                                    class="dropdown-item" 
                                    href="#"
                                    >
                                        Salir
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>